@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: $spacing-xlarge * 4;

    &-title {
    padding: $spacing-small + 10px 0;

    }

    &-product {
        flex-basis: 20%;
    }

    &-card {
        // height: 20vh;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
            transform: scale(1.05);
            border: 2px solid $light-cloud-color-1;
        }

     
    } 

    &-buttonsBox {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr);
        gap: $spacing-small;
    }

    &-button {
        @include button-style();
        

        &--price {
            background-image: url('../../assets/images/background-text.png');
            background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
            background-size: cover; /* Dopasowuje obraz do rozmiaru elementu */
            background-position: center; /* Centruje obraz */
            font-family: $font-nunito;
            border: 1px solxid red;
            color: black;
            flex-basis: 100%;
            grid-column: span 3;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.empty {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    &__title {
        font-size: $header-font-size;
    }

    &__icon {
        font-size: $subtitle-font-size * 5;
    }

    &__button {
        @include button-style();
        width: 200px;
        margin: 20px auto;
    }
}