@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.products__list {

    &-title {
        margin: $spacing-large 0;
        padding-top: $spacing-large;
        font-size: 15px;
    }

    &-product {
        flex-basis: 20%;

        @media screen and (max-width: 768px) {
            flex-basis: 40%;
        }  // tu nie dizłą!!!

        @media screen and (max-width: 420px) {
            flex-basis: 80%;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        border: 2px solid transparent;
        

        &:hover {
            transform: scale(1.05);
            border: 2px solid $light-cloud-color-1;
        }

    }

    &-image {
        width: 200px;
        height: 200px;

        @media screen and (max-width: 420px) {
            width: 150px;
            height: 150px;
        }
    }

    &-buttonsBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $spacing-small * 2;
        position: relative;
        padding: $spacing-large;

        @media screen and (max-width: 420px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-button {
        @include button-style();

        &--price {
            position: absolute;
            top:-320px;
            left: 140px;
            background-image: url('../../../assets/images/background-text.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-family: $font-nunito;
            border: 1px solxid red;
            color: black;
            flex-basis: 100%;

            @media screen and (max-width: 420px) {
                left: 55px;
                top: -280px;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.modal {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    &__title {

    }

    &__image {
        width: 300px;
        height: 300px;
    }
}