@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.search {

    &__input {
        margin-top: 100px;
        width: 45%;
        border-radius: 40px;
        border: 2px solid white;
        height: 40px;
        padding: 20px;
        color: $light-button-color;
        text-align: center;
        outline: none;

        &:focus {
            border: 2px solid $light-cloud-color-3;
        }
    }
}