@import '../../assets/styles/variables';
@import './Nav-media-queries.module';

.nav {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    cursor: url('../../assets/images/cursor.png'), auto;
    border-radius: 14px;
    background-color: $light-background-color;
    font-family: $font-montserrat;
    -webkit-box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);
    box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);

    @media screen and (max-width: 768px) {
        display: none;
    }

    &__list {
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 5fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        margin: 0;

        @media screen and (max-width: 1024px) {
            &-item--title {
                display: none;
            }
        }

        &-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            background-color: #fff;
        }

        &-item {
            padding: 15px;
            white-space: nowrap;

            a {
                padding: 20px;
                cursor: url('../../assets/images/cursor.png'), auto;
                color: black;
            }

            &--menuItem {
                list-style-type: none;
                flex-basis: 33%;
            }

            &--icons {
                font-size: $default-font-size + 10;
                position: relative;

                @media screen and (max-width: 1024px) {
                    font-size: $default-font-size;
                }
            }

            &--title {
                @media screen and (max-width: 1340px) {
                    font-size: $default-font-size + 4;
                }
            }

            &--quantity {
                position: absolute;
                top: 40px;
                left: 63px;

                border: 2px solid black;
                color: white;
                background-color: black;
                border-radius: 50%;
                width: 40px;
                height: 40px;

                @media screen and (max-width: 1340px) {
                    top: 45px;
                    left: 50px;
                    font-size: $default-font-size + 4;
                    width: 30px;
                    height: 30px;
                }

                @media screen and (max-width: 1024px) {
                    top: 40px;
                    left: 105px;
                    font-size: $default-font-size;
                }

                @media screen and (max-width: 928px) {
                    top: 40px;
                    left: 85px;
                    font-size: $default-font-size;
                }
            }

        }
    }

    @media screen and (max-width: 1340px) {
        font-size: $default-font-size - 2;
        // background-color: red;
    }

    @media screen and (max-width: 1024px) {
        font-size: $default-font-size - 4;
        // background-color: yellow;
    }
}

.navToggle {
    display: block;
    width: 100%;
    border-radius: 14px;
    background-color: $light-background-color;
    font-family: $font-montserrat;
    -webkit-box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);
    box-shadow: 3px 8px 16px -12px rgba(66, 68, 90, 1);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__list {
        position: absolute;
        list-style-type: none;
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 100;


        &-item {
            padding: 20px;

            &--icons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                place-items: center;
            }
        }

    }


}

.btn {
    width: 80px;
    height: 80px;

}

.navToggle-enter-active {
    max-height: 100vh;
    transition: max-height 300ms ease-in-out;
}

.navToggle-exit {
    max-height: 100vh;
    overflow: hidden;
}

.navToggle-exit-active {
    max-height: 0;
    transition: max-height 300ms ease-in-out;
}

.navToggle {

    &__logo {

        padding: 20px;
        color: black;
    }

    &__list-item--quantity {
        position: absolute;
        top: 177px;
        left: 74px;
        border-radius: 50%;
        background-color: black;
        color: white;
        width: 20px;
        padding: 0 5px;
        height: 20px;
    }

}