@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.shopItem {
    display: flex;
    flex-direction: row;

    &__list {
        width: 80%;
        margin: $spacing-medium auto;
    }

    &__card {

        display: flex;
        flex-direction: column;
        align-items: center;

        &-titleProduct {}

        &-image {
            width: 100px;
            height: 100px;
        }

    }
    &__cart-button {
        @include button-style();
    }


}